


body{
    margin: 0;
    padding: 0;
}
div{
    width: 100%;
}
.header{
    height: 60px;
    background-color: aliceblue;
    font-size: 20px;
    line-height: 60px;
    padding-left: 40px;
    font-weight: 700;
}




/*거의 모바일용....-------------------------------------------S*/

/* media query 변경내용 */
.main-img{
    height: 300px;
    background-image: url(/image/blackbathand.jpg);
    background-size: cover;  /* 전체 덮기*/
    background-position: center;
}
.description{
    height: 300px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    padding-bottom: 9px;
}
.description>p:first-child{
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #4A4A4A;
}
.description>p:nth-child(2){
    font-size: 20px;
    font-weight: 700;
    color: #1B1B1B;
    margin-bottom: 30px;
}
.description>p:last-child{
    font-size: 16px;
    color: #7A7A7A;
}
.sub-img1{
    height: 350px;
    background-image: url(/image/whiteprod.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sub-img2{
    height: 200px;
    background-image: url(/image/seoul_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
    border: 4px;
}
.sub-img2>a{
    line-height: normal;
    border: 4px solid white;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}
.sub-img3{
    height: 200px;
    background-image: url(/image/hand.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*거의 모바일용....-------------------------------------------E*/











/*800보다 크면 적용... 아마 한 패드? 정도급?--------------S */
@media screen and (min-width: 800px) { /*800보다 클때 */
    .main-img{
        height: 500px;
        background-image: url(/image/blackbathand.jpg);
        background-size: cover;  /* 전체 덮기*/
        background-position: center;
    }
    .description{
        height: 300px;
        background-color: white;
        padding-left: 65px;
        padding-right: 65px;
        box-sizing: border-box;
    }
    .description>p:first-child{
        font-size: 16px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 40px;
        color: gray;
    }
    .description>p:nth-child(2){
        font-size: 20px;
        font-weight: 700;
    }
    .description>p:last-child{
        font-size: 16px;
        color: rgb(60, 60, 60);
    }
    .sub-img1{
        width: 50%;
        height: 300px;
        float: left;
        background-image: url(/image/whiteprod.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .sub-img2{
        width: 50%;
        height: 150px;
        float: right;
        background-image: url(/image/seoul_img.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        line-height: 150px;
        font-weight: bold;
        border: 4px;
    }
    .sub-img2>a{
        line-height: normal;
        border: 4px solid white;
        padding: 10px 40px;
        font-size: 16px;
        font-weight: 700;
        color: white;
        text-decoration: none;
    }
    .sub-img3{
        width: 50%;
        height: 150px;
        float: right;
        background-image: url(/image/hand.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
}
/*800보다 크면 적용... 아마 한 패드? 정도급?--------------E */










/*1200보다 크면 적용... 아마 22인치모니터에서 한뼘정도? 같음--------------S */
@media screen and (min-width: 1200px){ /*1200보다 클때 */
    .main-img{
        float: left;
        width: 50%;
        height: 600px;
        background-image: url(/image/blackbathand.jpg);
        background-size: cover;  /* 전체 덮기*/
        background-position: center;
    }
    .description{
        width: 50%;
        height: 300px;
        float: right;
        background-color: white;
        padding-left: 65px;
        padding-right: 65px;
        box-sizing: border-box;
    }
    .description>p:first-child{
        font-size: 16px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 40px;
        color: gray;
    }
    .description>p:nth-child(2){
        font-size: 20px;
        font-weight: 700;
        /* color: aqua; */
    }
    .description>p:last-child{
        font-size: 16px;
        color: rgb(60, 60, 60);
    }
    .sub-img1{
        width: 25%;
        float: left;
        height: 300px;
        background-image: url(/image/whiteprod.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .sub-img2{
        width: 25%;
        float: right;
        height: 150px;
        background-image: url(/image/seoul_img.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        line-height: 150px;
    }
    .sub-img2>a{
        line-height: normal;
        border: 4px solid white;
        padding: 10px 40px;
        font-size: 16px;
        font-weight: 700;
        color: white;
        text-decoration: none;
    }
    .sub-img3{
        width: 25%;
        float: right;
        height: 150px;
        background-image: url(/image/hand.jpg);
        background-size: cover;
        /* 위치 */
        background-position: center;
        background-repeat: no-repeat;
        font-weight: bold;
        border: 4px;
       
    }

}
/*1200보다 크면 적용... 아마 22인치모니터에서 한뼘정도? 같음--------------E */