@import url(reset.css);
@font-face {
    font-family: jua;
    src: url(/font/Jua/Jua-Regular.ttf);
}

.big_background{
    
    width: 100%;
    height: 1000px;
    background-color: bisque;
    background-repeat: no-repeat;
    background-position: center;
   
    display: flex;
    flex-direction: column;
 

    background-size: cover;
   
    justify-content: center;
    align-items: center;

}

.small_background{
    
    width: 1300px;
    height: 900px;
    
    /* background-image: url(/image/benz1.jpg); */
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        to right,
        rgba(20, 20, 20, 0) 10%,
        rgba(20, 20, 20, 0.25) 25%,
        rgba(20, 20, 20, 0.5) 50%,
        rgba(20, 20, 20, 0.75) 75%,
        rgba(20, 20, 20, 1) 100%
      ), url(/image/room.jpg); /*url(https://source.unsplash.com/random);*/
      background-size: cover;

}

.small_box{
    width: 800px;
    height: 300px;
    background-color: white;

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.p1{
font-size: 30px;
font-weight: 800;
}
.img1{
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
.img2{
    width: 25px;
    height: 25px;
}
.p3{
    justify-content: end;
    background-color: rgb(216, 216, 216);
    height: 50px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}